#! /usr/bin/env bash

sudo -u UpdiveNSM /opt/UpdiveNSM/lnms smokeping:generate --targets > /etc/smokeping/config.d/UpdiveNSM-targets.conf
sudo -u UpdiveNSM /opt/UpdiveNSM/lnms smokeping:generate --probes  > /etc/smokeping/config.d/UpdiveNSM-probes.conf

systemctl reload smokeping > /dev/null 2<&1
