[Unit]
Description=UpdiveNSM SNMP Poller Service
After=network.target

[Service]
ExecStart=/opt/UpdiveNSM/UpdiveNSM-service.py -v
ExecReload=/bin/kill -HUP $MAINPID
WorkingDirectory=/opt/UpdiveNSM
User=UpdiveNSM
Group=UpdiveNSM
RestartSec=10
Restart=always
WatchdogSec=30

[Install]
WantedBy=multi-user.target
